.c-footer-line {
  border: 1px solid #f0f0f0;
  width: 50%;
  margin: 65px auto;
}
.c-footer-ellipse {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  margin: auto;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  position: relative;
  bottom: 70px;
}
.c-footer-maker-name {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif ;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #1a1a1a;
}