.c-footer__line {
  border: 1px solid #f0f0f0;
  width: 65%;
  margin: 4rem auto;
}
.c-footer__ellipse {
  box-sizing: border-box;
  width: 0.5rem;
  height: 0.5rem;
  margin: auto;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  position: relative;
  bottom: 4.3rem;
}
.c-footer__maker-name {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif ;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: $secondary-color;
}