.c-hamburger__icon--open {
  position: fixed;
  margin: rem(15px);
  top: 0;
  right: 0;
  width: 25px;
  display: none;
  @include mq(1em, tablet) {
    display: block;
    margin: 15px;
  }
}
.c-hamburger__content {
  display: flex;
  background-color: #fff;
  transform: translateY(-100%);
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  align-items: center;
  transition: all 0.3s ease;

  .c-hamburger__icon--close {
    position: fixed;
    margin: 15px;
    top: 0;
    right: 0;
    width: 25px;
    background-color: #fff;
    display: none;
    @include mq(1em, tablet) {
      display: block;
      margin: 15px;
    }
  }
}

.c-hamburger__items {
  margin-top: 107px;

  .c-hamburger__link,
  .c-hamburger__link--btn {
    display: none;
    color: #1a1a1a;
    margin-top: 35px;
    padding: 10px;
    @include mq(1em, tablet) {
      display: block;
    }
  }
  .c-hamburger__link--blue-btn {
    padding: 4px 9px;
    gap: 10px;
    background-color: rgba(63, 81, 181, 1);
    color: #fff;
  }
}
