
.c-nav {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  @include mq(1em , tablet) {
    display: none;
    
  }

  &__link {
    color: #1a1a1a;
    margin: 0 3.5rem;
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 149%;
    
  }
  &__link--btn {
    padding: 4px 9px;
    gap: 10px;
    background-color: rgba(63, 81, 181, 1);
    color: #fff !important;
  }
}

