@mixin c-header-nav--btn {
  color: #1a1a1a;
  text-decoration: none;
  margin: 0 53px;
  width: 67px;
  height: 32px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149%;
}
@mixin c-header-nav--list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 45px;
}
@mixin c-header-nav--homebtn {
  width: 67px;
  height: 32px;
  text-decoration: none;
  padding: 4px 9px;
  gap: 10px;
  background-color: rgba(63, 81, 181, 1);
  color: #fff !important;
}
