body {
  padding: 0;
  margin: 0;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
$primary-color: #1a1a1a;
$secondary-color: #555555;
