.c-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  &__title {
    color: $primary-color;
    font-size: 1.5rem;
    margin-top: 1.75rem;
  }
  &__description {
    font-family: monospace;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.7rem;
    color: $secondary-color;
  }
}
.c-social {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  &__icon {
    padding-right: 20px;
  }
}
.c-img__user {
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 50%;
}
