.c-nav {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}
.c-nav__link {
  font-size: 16px;
  margin: 0 60px;
  color: $secondary-color;
  @include mq(1em, tablet) {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.c-nav--blue-btn {
  color: #fff;
  background-color: #3f51b5;
  padding: 5px 10px;
  @include mq(1em, tablet) {
    margin-top: 112px;
  }
}
.c-nav__item {
  @include mq(1em, tablet) {
    display: flex;
    background-color: #fff;
    transform: translateY(-100%);
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    align-items: center;
    transition: all 0.3s ease-in;
  }
}
.c-nav__mobile--close {
  position: fixed;
  margin: 15px;
  top: 0;
  right: 0;
  width: 25px;
  background-color: rgb(255, 255, 255);
  display: none;
  @include mq(1em, tablet) {
    display: block;
    margin: 15px;
  }
}
.c-nav__mobile--open {
  display: none;
  @include mq(1em, tablet) {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;
    margin: 15px;
  }
}
